* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/toDo.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto",sans-serif;
}

#toDo {
  margin-left: 50px;
  margin-top: 100px;
}
